Repository Benjamin-Frost/PharMe-Photo, changes with the labels that .github/labeler.yml gives for each.
All labels: P: App, P: Annotation Server, P: Lab Server

.github/labeler.yml:

'P: App':
  - 'app/**/*'
'P: Annotation Server':
  - 'annotation-server/**/*'
'P: Lab Server':
  - 'lab-server/**/*'

create endpoint for clinical annotations mapped to medication agents
  annotation-server/src/clinical_annotation/clinical_annotation.controller.ts
  annotation-server/src/clinical_annotation/clinical_annotation.module.ts
  annotation-server/src/clinical_annotation/clinical_annotation.service.ts
  annotation-server/src/medications/ingredients.entity.ts
  annotation-server/src/medications/medications.controller.ts
  annotation-server/src/medications/medications.entity.ts
  annotation-server/src/medications/medications.module.ts
  annotation-server/src/medications/medications.service.ts
  annotation-server/src/medications/rxnormmappings.service.ts
Labels: P: Annotation Server

fix tests
  annotation-server/src/medications/medications.controller.spec.ts
Labels: P: Annotation Server

add yarn package
  annotation-server/package.json
  annotation-server/yarn.lock
Labels: P: Annotation Server

print annotations for agents of medication
  app/lib/medications/pages/medication_details/page.dart
Labels: P: App

display clinical annotations in app
  app/lib/medications/pages/medication_details/page.dart
Labels: P: App

feat(guideline-tool): init next app
  guideline-tool/.eslintrc.json
  guideline-tool/.gitignore
  guideline-tool/README.md
  guideline-tool/next-env.d.ts
  guideline-tool/next.config.js
  guideline-tool/package.json
  guideline-tool/pages/_app.tsx
  guideline-tool/pages/index.tsx
  guideline-tool/public/favicon.ico
  guideline-tool/public/vercel.svg
  guideline-tool/styles/Home.module.css
  guideline-tool/styles/globals.css
  guideline-tool/tsconfig.json
  guideline-tool/yarn.lock
Labels: none

style(guideline-tool): setup linting analogous to annotation server
  guideline-tool/.eslintrc.js
  guideline-tool/.prettierrc
Labels: none

feat(guideline-tool): add tailwind
  guideline-tool/package.json
  guideline-tool/postcss.config.js
  guideline-tool/styles/Home.module.css
  guideline-tool/styles/globals.css
  guideline-tool/tailwind.config.js
  guideline-tool/yarn.lock
Labels: none

feat(guideline-tool): wip start adding navbar
  guideline-tool/components/NavBar.tsx
  guideline-tool/pages/_app.tsx
  guideline-tool/pages/index.tsx
Labels: none

ci: add annotation-server manifests
  annotation-server/deployment/app.yml
  annotation-server/deployment/namespace.yml
Labels: P: Annotation Server

ci: add lab-server manifests
  lab-server/deployment/app.yml
  lab-server/deployment/namespace.yml
Labels: P: Lab Server

fix: wrong image in lab-server deployment
  lab-server/deployment/app.yml
Labels: P: Lab Server

feat: add lab-server db deployment
  lab-server/deployment/app-db.yml
  lab-server/deployment/app.yml
  lab-server/deployment/namespace.yml
Labels: P: Lab Server

feat: add lab-server keycloak deployment
  lab-server/.env.example
  lab-server/.gitignore
  lab-server/deployment/app/db.yml
  lab-server/deployment/app/deployment.yml
  lab-server/deployment/keycloak/db.yml
  lab-server/deployment/keycloak/deployment.yml
  lab-server/docker-compose.yml
Labels: P: Lab Server

feat(app): add example comprehension widget
  app/lib/settings/pages/settings.dart
Labels: P: App

feat: add deployment for annotation-server
  annotation-server/.gitignore
  annotation-server/deployment/app/db.yml
  annotation-server/deployment/app/deployment.yml
Labels: P: Annotation Server

chore: use secrets in deployment
  annotation-server/deployment/app/deployment.yml
Labels: P: Annotation Server

chore: k8s keycloak
  lab-server/deployment/keycloak/db.yml
  lab-server/deployment/keycloak/deployment.yml
Labels: P: Lab Server

fix: small errors in deployment
  annotation-server/deployment/app/deployment.yml
Labels: P: Annotation Server

fix: wrong db name in db deployment
  annotation-server/deployment/app/db.yml
Labels: P: Annotation Server

refactor(annotation-server): Use base entity
  annotation-server/src/common/entities/base.entity.ts
  annotation-server/src/gene-phenotypes/entities/gene-phenotype.entity.ts
  annotation-server/src/gene-phenotypes/entities/gene-symbol.entity.ts
  annotation-server/src/gene-phenotypes/entities/phenotype.entity.ts
  annotation-server/src/guidelines/entities/guideline-error.entity.ts
  annotation-server/src/guidelines/entities/guideline.entity.ts
  annotation-server/src/medications/medication.entity.ts
Labels: P: Annotation Server

feat(annotation-server): use generic find request parameters add swagger docs api annotations for find operations (generic right away) extend find operations to return count and objects
  annotation-server/package.json
  annotation-server/src/common/api/queries.ts
  annotation-server/src/common/dtos/find-query.dto.ts
  annotation-server/src/common/dtos/find-searchable-query.dto.ts
  annotation-server/src/guidelines/dtos/find-guideline-error.dto.ts
  annotation-server/src/guidelines/dtos/guideline-error-page-dto.ts
  annotation-server/src/guidelines/entities/guideline-error.entity.ts
  annotation-server/src/guidelines/guidelines.controller.ts
  annotation-server/src/guidelines/guidelines.service.ts
  annotation-server/src/medications/dtos/find-medication-query-dto.ts
  annotation-server/src/medications/dtos/medication-page.dto.ts
  annotation-server/src/medications/medication.entity.ts
  annotation-server/src/medications/medications.controller.ts
  annotation-server/src/medications/medications.service.ts
Labels: P: Annotation Server

refactor(annotation-server): structure common misc into common utils
  annotation-server/src/common/utils/cache-map.ts
  annotation-server/src/common/utils/google-sheets.spec.ts
  annotation-server/src/common/utils/google-sheets.ts
  annotation-server/src/guidelines/caches/guideline-cache.ts
  annotation-server/src/guidelines/guidelines.service.ts
  annotation-server/src/medications/medications.service.ts
Labels: P: Annotation Server

chore: minio deployment
  lab-server/deployment/minio/deployment.yml
Labels: P: Lab Server

docs(lab-server): address review
  lab-server/.env.example
  lab-server/CONTRIBUTING.md
Labels: P: Lab Server

chore: k8s lab server
  lab-server/deployment/app/db.yml
  lab-server/deployment/app/deployment.yml
Labels: P: Lab Server

ci: add deployment job for lab-server
  .github/workflows/lab-server.yml
Labels: none

chore: lab, annotation server - ok keycloak - bad
  annotation-server/deployment/app/deployment.yml
  lab-server/deployment/app/deployment.yml
  lab-server/deployment/keycloak/deployment.yml
Labels: P: Annotation Server, P: Lab Server

chore(app): use public server urls
  app/lib/common/constants.dart
  app/lib/common/utilities/genome_data.dart
Labels: P: App

feat(app): add camera page
  app/ios/Runner/Info.plist
  app/lib/camera/module.dart
  app/lib/camera/pages/camera.dart
  app/lib/common/pages/main.dart
  app/lib/common/routing/router.dart
  app/lib/common/widgets/app.dart
  app/lib/l10n/app_en.arb
  app/lib/main.dart
  app/pubspec.lock
Labels: P: App

feat(app): create camera preview
  app/android/app/build.gradle
  app/ios/Podfile.lock
  app/ios/Runner/Info.plist
  app/lib/camera/pages/camera.dart
  app/lib/common/module.dart
  app/lib/main.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App

fix(app): multiple bugs on ios
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Info.plist
  app/lib/camera/pages/camera.dart
  app/lib/common/pages/main.dart
  app/lib/common/routing/router.dart
Labels: P: App
